<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>pushapi</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>mat.pushapi</param-value>
	</context-param>
	<listener>
		<description>系统启动移动短信网关监听器</description>
		<display-name>系统启动移动短信网关监听器</display-name>
		<listener-class>com.cmcciot.mat.pushapi.cmobile.server.InitListener</listener-class>
	</listener>
	<mime-mapping>
		<extension>inc</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<servlet>
		<servlet-name>pushApi</servlet-name>
		<servlet-class>com.cmcciot.mat.pushapi.sms.PushServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pushApi</servlet-name>
		<url-pattern>/pushapi</url-pattern>
	</servlet-mapping>
	<!-- timer task -->
	<servlet>
		<servlet-name>timerTask</servlet-name>
		<servlet-class>com.cmcciot.mat.pushapi.sms.TimerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<context-param>
        <param-name>logbackConfigLocation</param-name>
        <param-value>classpath:pushapi-logback.xml</param-value>
    </context-param>
    <listener>
        <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
    </listener>
</web-app>
